<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="layout">
        <div class="layout">
            <div class="layout">
                <div class="layout">
                    <div class="layout">
                        <br><br><br><br><br>
                        <h2>Fill out details</h2>
                        <div class=""><input type="text" placeholder="First Name"  formControlName="firstName" class="form-control"></div><br>
                        <div class=""><input type="text" placeholder="Last Name"  formControlName="lastName"class="form-control"> </div><br>
                        <div class=""><input type="text" placeholder="Company Name" formControlName="companyName"  class="form-control"> </div><br>
                        <div class=""><input type="email" placeholder="Email" formControlName="email"  class="form-control"> </div><br>
                        <div class="inputbox mt-3"><br><select formControlName="budget" class="form-control" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <option value="A">Monthly Advertising Budget</option>
                            <option value="S">Budget1</option>
                            <option value="P">Budget 2</option>
                        </select></div><br>
                        <div class="inputbox mt-3"><input type="text" placeholder="+91 "  formControlName="phone" class="form-control"> </div><br>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-right"> <button class="btn btn-success register btn-block" type="Submit" >Get Free Trial</button> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>