.layout {
top: 233px;
left: 26px;
width: 323px;
height: 423px;
background: var(--unnamed-color-fbfbfb) 0% 0% no-repeat padding-box;
background: #FBFBFB 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 20px #00000029;
border-radius: 12px;
opacity: 1;
}