<table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Budget</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let details of detail | async">
        <td>{{details.firstName}}</td>
        <td>{{details.lastName}}</td>
        <td>{{details.companyName}}</td>
        <td>{{details.email}}</td>
        <td>{{details.budget}}</td>
        <td>{{details.phone}}</td>
      </tr>
    </tbody>
  </table>